# see http://editorconfig.org
root = true

[*]
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
charset = utf-8

# https://doc.rust-lang.org/nightly/style-guide/cargo.html
[*.{rs,toml}]
indent_style = space
indent_size = 4

[*.zsh]
indent_style = tab
indent_size = 2
